@using HOTPaperScisorRock.Core.Domain
<button class="round_button" @onclick="OnClick"><Hand HandAction="HandAction"/></button>

@code {
    [Parameter] public HandAction HandAction { get; set; }
    
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

}