@using HOTPaperScisorRock.Core.Domain
<button class="round_button"><i class="@GetActionClass()"></i></button>

@code {
    [Parameter]
    public HandAction HandActionButton { get; set; }
    
    IDictionary<HandAction, String> actions = new Dictionary<HandAction, String>()
    {
        { HandAction.Paper , Constant.PaperIcon },
        { HandAction.Rock , Constant.RockIcon },
        { HandAction.Scissors , Constant.ScissorsIcon}
    };
    
    public String GetActionClass()
    {
        return actions[HandActionButton];
    }
}