@page "/"
@using HOTPaperScisorRock.Core.Domain

<PageTitle>Home</PageTitle>

<div class="center">
    <h1>Rock Paper Scissor</h1>
    <div>
        <div class="container">
            <Player PlayerNumber="1" PlayerScore="0"/>
            <Player PlayerNumber="2" PlayerScore="0"/>
        </div>
        <h2>Draw game</h2>
        <div>
            @foreach(HandAction hand in Enum.GetValues(typeof(HandAction)))
            {
                <HandButton HandAction="@hand" @onclick="() => HanhActionHandler(hand)"/>
            }
        </div>
    </div>
</div>

@code
{

    private Task HanhActionHandler(HandAction hand)
    {
        throw new NotImplementedException();
    }
}
