@page "/"

<PageTitle>Home</PageTitle>

<div class="center">
    <h1>Rock Paper Scissor</h1>
    <div>
        <div class="container">
            <Player PlayerNumber="1" PlayerScore="0"/>
            <Player PlayerNumber="2" PlayerScore="0"/>
        </div>
        <h2>Draw game</h2>
        <div>
            <button class="round_button"><i class="fa fa-hand-rock-o"></i></button>
            <button class="round_button"><i class="fa fa-hand-scissors-o"></i></button>
            <button class="round_button"><i class="fa fa-hand-paper-o"></i></button>
        </div>
    </div>
</div>

@code
{
    
}
