@using HOT.Assessment.RockPaperScissor.Core.Domain.Hand
<div class="player">
                <div class="score">Player @PlayerNumber: @PlayerScore</div>
                <div class="action">
                    <i class="@GetActionClass()"></i>
                </div>
            </div>
@code {
    [Parameter] public int PlayerNumber { get; set; }
    [Parameter] public int PlayerScore { get; set;}
    [Parameter] public HandAction PlayerAction { get; set; } = HandAction.Rock;

    IDictionary<HandAction, String> actions = new Dictionary<HandAction, String>()
    {
        { HandAction.Paper , Constant.PaperIcon },
        { HandAction.Rock , Constant.RockIcon },
        { HandAction.Scissors , Constant.ScissorsIcon}
    };

    public string GetActionClass()
    {
        return actions[PlayerAction];
    }
    
    
}